---
import { BackLinks } from "astro-garden";
const { content } = Astro.props;
const pageTitle = `${content.title} - Jesus Guerrero`
const pageDescription = `${content.description}`
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{content.title}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <meta name="title" content={pageTitle}>
    <meta name="description" content={pageDescription}>
</head>
<body>
    <main>
        <article class="px-5 md:px-0 py-20 mx-auto overflow-visible prose">
            <h1 class="seed-title font-bold text-gray">
              <span> Seeds: {content.title } </span>
              <small>
                <a href="/"> Back to Garden </a>
              </small>
            </h1>
            <div class="seed-header">
                <div>Status: <span class="font-bold text-green">
                  <i class="fa fa-seedling"/>{content.status}</span> 
                </div>
                <div>PlantDate: <span class="font-bold text-accent">{content.planted}</span></div>
                <div>Last Update: <span class="font-bold text-accent">{content.checked || content.planted }</span></div>
            </div>
            <section class="seed-article">
                <slot />
                <BackLinks client:load pageTitle={content.title} seedPath="../pages/garden/seeds" seedUrl="garden/seeds" backlinkTitle="Mentioned In" />
            </section>
        </article>
    </main>
    <footer class="seed-footer">
        <div >2021 Made with <span class="font-bold text-accent">code</span> by <span class="font-bold underline">Jesus Guerrero</span></div>
    </footer>
</body>
</html>
<style is:global>
.seed-article a, .seed-article .prose a[href*="/seeds/"] {
    color: dodgerblue;
    font-weight: bold;
    border-bottom: 1px dashed dodgerblue;
    text-decoration: none
}
.seed-article {
  color: gray;
}
.seed-header {
  display: flex;
}
.seed-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.seed-header div {
  margin-right: 15px;
}
.seed-footer {
  border-top: 1px solid gray;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.font-bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-accent {
  color: dodgerblue;
}
.text-gray {
  color: gray;
}
.text-green {
  color: green;
}
</style>